* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;

  }

@font-face {
  font-family: "AUTHENTICSans-Condensed-130";
  src:
    local("AUTHENTICSans-Condensed-130"),
    local("AUTHENTICSans-Condensed-130 2"),
    url("/Users/giagonzales/Desktop/Gia Personal/Website/GGWebpage/STYLES/FONTS/AUTHENTIC/AUTHENTICSans-Condensed-130 2.otf") format("opentype"),
    url("/Users/giagonzales/Desktop/Gia Personal/Website/GGWebpage/STYLES/FONTS/AUTHENTIC/AUTHENTICSans-Condensed-130.otf") format("opentype"),
    url("/Users/giagonzales/Desktop/Gia Personal/Website/GGWebpage/STYLES/FONTS/AUTHENTIC/AUTHENTICSans-Condensed-130.woff") format("woff"),
    url("/Users/giagonzales/Desktop/Gia Personal/Website/GGWebpage/STYLES/FONTS/AUTHENTIC/AUTHENTICSans-Condensed-130.woff 2") format("woff"),
    url("/Users/giagonzales/Desktop/Gia Personal/Website/GGWebpage/STYLES/FONTS/AUTHENTIC/AUTHENTICSans-Condensed-130.woff2") format("woff2"),
    url("/Users/giagonzales/Desktop/Gia Personal/Website/GGWebpage/STYLES/FONTS/AUTHENTIC/AUTHENTICSans-Condensed-150.woff2 2") format("woff2");

  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;      
}

@font-face {
  font-family: "OrticaAngular";
  src:
    local("OrticaAngular"),
    local("OrticaLinear"),
    url("/Users/giagonzales/Desktop/Gia Personal/Website/GGWebpage/STYLES/FONTS/CLT Ortica/web/OrticaAngular-Bold.woff") format("woff"),
    url("/Users/giagonzales/Desktop/Gia Personal/Website/GGWebpage/STYLES/FONTS/CLT Ortica/web/OrticaAngular-Bold.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;    

}
 
@font-face {
  font-family: "OrticaLinear";
  src:
    local("OrticaLinear"),
    url("/Users/giagonzales/Desktop/Gia Personal/Website/GGWebpage/STYLES/FONTS/CLT Ortica/web/OrticaLinear-Light.woff") format("woff"),
    url("/Users/giagonzales/Desktop/Gia Personal/Website/GGWebpage/STYLES/FONTS/CLT Ortica/web/OrticaLinear-Light.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;    

}

.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

.container {
    padding: 2em 2em 2em 2em;
    position: relative;
    width: 100%;
    max-width: 320px;
    
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container { 
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

body {
  background-color: whitesmoke;
  font-family: 'OrticaLinear','Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1 {
color: green;
font-family: 'OrticaLinear','Times New Roman', Times, serif;
font-size: 3em;
font-weight: 300;
font-style: normal;
word-wrap: break-word;
overflow-wrap: break-word;

}

h2 {
  color: green;
  font-family: 'OrticaLinear','Times New Roman', Times, serif;
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}

p {
  color: green;
  font-family: 'OrticaLinear','Times New Roman', Times, serif;
  font-size: 1.25em;
  font-weight: normal;
  font-style: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.indexname {
  font-family: 'OrticaLinear','Times New Roman', Times, serif;
  font-size: 4em;
  font-weight: normal;
  font-style: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.indexpara {
  position: relative;
  font-family: 'OrticaLinear','Times New Roman', Times, serif;
  font-size: 4em;
  font-weight: normal;
  font-style: normal;
  word-wrap: normal;
  overflow-wrap: normal;
  
}

.parahead {
  font-family: 'OrticaLinear','Times New Roman', Times, serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.backarrow {
  font-family: 'OrticaLinear','Times New Roman', Times, serif;
  font-size: 3em;
  font-weight: normal;
  font-style: normal;
  
  }

a:link {
  color: green;
  text-decoration: none;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  font-family: 'OrticaAngular';
  font-style: italic;
}



